{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="topics">
    <div class="topic">

      <h3>APE</h3>
      <img src="https://fakeimg.pl/250x250/" alt="" />

      <a class="button primary-btn" href="/">Présentation</a>
    </div>
    <div class="topic">

      <h3>Evénements</h3>
      <img src="https://fakeimg.pl/250x250/" alt="" />

      <a class="button primary-btn" href="/">Liste</a>
    </div>
    <div class="topic">

      <h3>Commandes</h3>
      <img src="https://fakeimg.pl/250x250/" alt="" />

      <a class="button primary-btn" href="/">Je commandes</a>
    </div>
  </div>
</div>